#body{
    transition: 1s !important;
}
#inText:focus-visible{
    outline: 0px !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    padding:5px
}
#box {
    transition:1s;
    box-shadow: inset 0px 0px 16px #06ff24;
    background:black;
    border:5px solid rgb(7, 189, 7);
    /* height:100vh */
}