#car-box{
    position:relative;
    /* width:50%; */
    height:300px;
    overflow: hidden;
}
.imgbox{
    width:0px;
    float:left;
    transition:1s, .2s width ease-in-out;
    height:inherit;
    border-radius:10px;
    overflow: hidden;
}
.imgvis{
    width:100%;
}
.iset{
    width:inherit;
    height:inherit;
}