.img-box{
    height:100px;
    width:100px;
    padding:2px;
    border:1px solid rgb(197, 197, 197);    
    border-radius:5%
}
.image{
    width:100%;
    /* height:inherit; */
    /* object-fit: cover; */
}